body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  max-width: 1200px;
  max-height: 1667px;
}
img {
  width: 385px;
}
h1 {
  font-size: 40px;
  line-height: 48px;
}
h2 {
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 28px;
  border-bottom: 5px solid #000000;
  width: 659px;
}
h3 {
  border-bottom: 6px solid #1e1e1e;
  width: 289px;
  margin: 0;
  font-size: 32px;
  line-height: 39px;
  padding-bottom: 15px;
}
h4 {
  font-size: 24px;
  line-height: 29px;
  margin: 31px 0 11px 0px;
}
.flex {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.contact_style {
  font-size: 16px;
  line-height: 19px;
  max-width: 289px;
}
.style_color_left {
  background: #86a3b4;
  border-right: 1px solid #000;
  height: 1667px;
}
.logo {
  margin: 58px 0 36px 40px;
}
.style_languages {
  font-size: 20px;
  line-height: 24px;
}
.style_languages_margin {
  margin: 23px 0 15px 0;
}
.languages_margin {
  margin-top: 36px;
}
.style_contact_left {
  margin: 50px 0 0 40px;
}
.d-flex {
  display: flex;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
.style_right {
  margin: 28px 0 0 55px;
  max-width: 760px;
}
.dscr_style {
  font-size: 16px;
  line-height: 19px;

  max-width: 706px;
}
.style_skills {
  display: flex;
  justify-content: flex-start;
  gap: 50%;
  max-width: 720px;
}
ul {
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  margin-left: 1rem;
}
.col-50 {
  flex: 0 0 auto;
  width: 50%;
}
.exp_style {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.exp_style_font-weight {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.exp_style_padding-top {
  padding-top: 15px;
}
.education_style {
  font-weight: 400;
}
a.btn {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1.2rem;
  color: #000;
}
.pos_rel{
  position: relative;
}
.pos_fix_right{
  position: fixed;
  left: 400px;
}
.pos_fix_left{
  position: fixed;
}
.pos_left:hover{
  position: absolute;
}
.pos_right:hover{
  position: absolute;
  left: 400px;
}

